{% extends 'base.html' %}
{% block content %} 
<h1>Hello, {{ current_user.username }}</h1>
<div>
    {% if form %}
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(row=4, col=50) }}<br>
            {% if form.post.errors %}
            {% for error in form.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {% endif %}
        </p>
        <p>{{ form.submit }}</p>
    </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer Posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older Posts</a>
    {% endif %}
</div>
{% endblock content %} 