{% extends 'base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password1.label }}
            {{ form.password1(size=32) }}<br>
            {% if form.password1.errors %}
            {% for error in form.password1.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %}
            {% endif %}
        </p>
        <p>
            {{ form.password2.label }}
            {{ form.password2(size=32) }}<br>
            {% if form.password2.errors %}
            {% for error in form.password2.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %}
            {% endif %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>

{% endblock content %}