{% extends 'base.html' %}
{% block content %}
<table>
    <tr>
        <td>
            <img src="{{ user.avatar(150) }}">
        </td>
        <td>
            <p>Username: {{ user.username }}</p>
            {% if user.about_me %}
            <p>About: {{ user.about_me }}</p>
            {% endif %}
            {% if user.last_seen %}
            <p>{{ user.last_seen }}</p>
            {% endif %}
            {%if current_user == user %}
            <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
            {% elif not current_user.is_following(user) %}
            <p>
                <form method="post" action="{{ url_for('follow', username=user.username) }}">
                    {{ form.hidden_tag() }}
                    <p>{{ form.submit(value='Follow') }}</p>
                </form>
            </p>
            {% else %}
             <p>
                <form method="post" action="{{ url_for('unfollow', username=user.username) }}">
                    {{ form.hidden_tag() }}
                    <p>{{ form.submit(value='Unfollow') }}</p>
                </form>
            </p>
            {% endif %}
        </td>
    </tr>
</table>
<hr>
<div>
    {% for post in posts %}
    {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer Posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older Posts</a>
    {% endif %}
</div>
{% endblock content %}